@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.clearfix {
  content: ' ';
  clear: both;
  display: table;
}

.footer {
  background-color: $main-color-footer;
}

.footer__wrap_second_part {
  background-color: $color-header-footer;
  padding: calculateRem(20px) 0;
  // width: calculateRem(1600px);
}

.footer__wrap_first_part {
  // width: 100%;
  padding-top: calculateRem(100px);
  padding-bottom: calculateRem(100px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calculateRem(1600px);
}

.footer__first_column {
  width: calculateRem(230px);
}

.header_first_column {
  font-family: $logo-font;
  font-size: calculateRem(25px);
  color: $font-color-footer-logo;
  padding-bottom: calculateRem(42px);
  font-weight: $light;
}

.text_footer_first_column,
.contacts_footer_first_column,
.text_footer_fifth_column {
  font-family: $main-font;
  font-weight: $medium;
  font-size: calculateRem(12px);
  line-height: calculateRem(20px);
  color: $fonts-color;
  letter-spacing: calculateRem(1px);
}

.text_footer_first_column {
  padding-bottom: calculateRem(18px);
}

.footer__second_column {
  width: calculateRem(70px);
}

.header_footer_second_column,
.header_footer_third_column,
.header_footer_fourth_column,
.header_footer_fifth_column {
  text-transform: uppercase;
  font-family: $main-font;
  font-size: calculateRem(18px);
  font-weight: $light;
  text-align: left;
  padding-bottom: calculateRem(42px);
}

.list_text_footer_second_column,
.list_text_footer_third_column {
  list-style: none;
}

.link_text_item_footer_second_column,
.link_text_item_footer_third_column {
  text-decoration: none;
  font-family: $main-font;
  font-weight: $medium;
  font-size: calculateRem(12px);
  line-height: calculateRem(20px);
  color: $fonts-color;
  letter-spacing: calculateRem(1px);
}

.link_text_item_footer_second_column,
.link_text_item_footer_third_column {
  position: relative;
}

.li:hover > .link_text_item_footer_second_column::after,
.li:hover > .link_text_item_footer_third_column::after {
  display: block;
  transition: 200ms;
}

.link_text_item_footer_second_column::after,
.link_text_item_footer_third_column::after {
  content: '';
  display: none;
  width: 100%;
  border-bottom: 1px solid $fonts-color;
  position: absolute;
  bottom: -1px;
}

.header_footer_third_column {
  width: calculateRem(200px);
}

.footer__third_column {
  width: calculateRem(165px);
}

.footer_fourth_column {
  width: calculateRem(195px);
}

.footer_fifth_column {
  width: calculateRem(220px);
}

.text_footer_fifth_column {
  padding-bottom: calculateRem(22px);
}

.footer__second_part_text {
  color: $color-footer_text;
  font-family: $main-font;
  font-weight: $bold;
  font-size: calculateRem(12px);
  letter-spacing: calculateRem(1px);
  text-align: center;
}

.footer_copy {
  color: $color-footer-copy;
  font-size: calculateRem(14px);
}

.contact_buttons__insta {
  padding-right: calculateRem(22px);
  text-decoration: none;
}

.contact_buttons__facebook,
.contact_buttons__insta {
  text-decoration: none;
}

.link_button_subscribe {
  display: flex;
}

.wrap_button_fifth_column {
  background-color: $mian-fonts-color;
  width: calculateRem(201px);
  height: calculateRem(46px);
}

.button_rigth_text {
  color: $bg-color;
  text-align: center;
  line-height: calculateRem(46px);
  font-family: $main-font;
  font-weight: $medium;
  font-size: calculateRem(12px);
  letter-spacing: calculateRem(1px);
}

.button_left {
  width: calculateRem(48px);
  border-right: 1px solid $color-footer-copy;
  height: calculateRem(46px);
}

.button_rigth {
  width: calculateRem(150px);
}

.link_button_subscribe {
  text-decoration: none;
}

.contact__icon--nav {
  transform: translate(30%, 30%);
}
