@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.header {
  padding: calculateRem(20px) calculateRem(8px);
  background-color: #222222;
  font-family: $main-font;

  // &__logo {
  //   line-height: 0;
  // }
}

.navigation {
  max-width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  &__container--left {
    display: flex;
    justify-content: space-between;
    min-width: calculateRem(800px);
  }

  &__container--right {
    display: flex;
    justify-content: space-between;
    min-width: calculateRem(260px);
    position: relative;

    &::before {
      content: '';
      width: 1px;
      height: 12px;
      position: absolute;
      background-color: #dddddd;
      transform: translate(calculateRem(77px), calculateRem(4px));
    }
  }

  &__item {
    color: #dddddd;
    font-size: calculateRem(12px);
    line-height: 1.5;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &--svg {
      margin-right: 20px;
    }

    &--icon {
      display: flex;
      align-items: center;
    }
  }
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 65%;
  list-style: none;

  &__item {
    position: relative;
  }

  &__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calculateRem(1px);
    bottom: calculateRem(-8px);
    background-color: #dddddd;
    display: none;
  }

  &__item:hover::after {
    display: block;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #dddddd;
    font-size: calculateRem(12px);

    &--arrow {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__option {
    background-color: #222222;
    color: #ddd;
    font-family: $main-font;
    font-size: calculateRem(8px);

    &--name {
      display: none;
    }
  }
}

// FILTERS

.filters-section {
  font-family: $main-font;
  font-size: 13px;
  padding: 0 calculateRem(8px) calculateRem(20px);

  &__container {
    border-bottom: 1px solid #ddd;
    margin-bottom: calculateRem(50px);
  }

  &__wrapper {
    max-width: 83%;
    margin: 0 auto;
  }

  &__item {
    width: 33.2%;
    padding: calculateRem(18px) calculateRem(4px);
    text-transform: uppercase;
    color: $fonts-color;
    outline: none;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;

    &:first-of-type {
      padding-left: 0;
    }

    &--search {
      width: 100%;
      // display: inline;
      color: #000;
      text-transform: none;
      cursor: text;

      &::-webkit-input-placeholder {
        text-transform: uppercase;
      }
    }
  }

  &__search-wrapper {
    display: inline-block;
    position: relative;
    width: 33.2%;
    padding-left: calculateRem(4px);
    // box-sizing: border-box;
  }

  &__button {
    position: absolute;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &--search {
      width: 20px;
      height: 20px;
      right: calculateRem(6px);
      bottom: calculateRem(15px);
    }

    &--remove {
      position: relative;
      font-family: $main-font;
      font-size: calculateRem(12px);
      color: $fonts-color;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: calculateRem(1px);
        bottom: calculateRem(-4px);
        background-color: $font-color-footer-logo;
        display: none;
      }

      &:hover::after {
        display: block;
      }
    }
  }
}