// * {
//   outline: 1px solid red;
//   margin: 0;
//   padding: 0;
// }
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}


.header {
  padding: calculateRem(20px) calculateRem(8px);
  background-color: #222222;
  font-family: $main-font;
}

.navigation {
  max-width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container--left {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }

  &__container--right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 16%;
  }

  &__item {
    color: #dddddd;
    font-size: calculateRem(12px);
    line-height: 1.5;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &--svg {
      margin-right: 20px;
    }

    &--border {
      position: relative;
      padding-left: 30px;

      &::before {
        position: absolute;
        width: 16px;
        height: 16px;
        content: '';
        display: block;
        left: calculateRem(0px);
        background-image: url(../img/user.png);
      }

      &::after {
        position: absolute;
        width: 1px;
        height: 10px;
        content: '';
        display: block;
        bottom: calculateRem(5px);
        right: -35%;
        background-color: #ddd;
        cursor: auto;
      }
    }
  }
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 65%;
  list-style: none;

  &__item {
    padding-bottom: calculateRem(10px);
  }

  &__item:hover {
    border-bottom: 1px solid #dddddd;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #dddddd;
    font-size: calculateRem(12px);
 
    &--arrow {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

// FILTERS

.filters-section {
  font-family: $main-font;
  font-size: 13px;
  padding: 0 calculateRem(8px) calculateRem(20px);

  &__container {
    border-bottom: 1px solid #ddd;
    margin-bottom: calculateRem(50px);
  }

  &__wrapper {
    max-width: 83%;
    margin: 0 auto;
  }

  &__item {
    width: 33.2%;
    padding: calculateRem(18px) calculateRem(4px);
    text-transform: uppercase;
    color: $fonts-color;
    outline: none;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;

    &:first-of-type {
      padding-left: 0;
    }

    &--search {
      width: 100%;
      display: inline;
      color: #000;
      text-transform: none;
      cursor: text;

      &::-webkit-input-placeholder {
        text-transform: uppercase;
      }
    }
  }

  &__search-wrapper {
    display: inline-block;
    position: relative;
    width: 33.2%;
    padding-left: calculateRem(4px);
    box-sizing: border-box;
  }

  &__button {
    position: absolute;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &--search {
      width: 20px;
      height: 20px;
      background-image: url(../img/search.png);
      right: calculateRem(6px);
      bottom: calculateRem(15px);
    }

    &--remove {
      position: static;
      font-family: $main-font;
      font-size: calculateRem(12px);
      color: $fonts-color;

      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
}