@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.main {
  max-width: 83%;
  margin: auto;
  padding-top: calculateRem(40px);

  &__link {
    text-decoration: none;
    font-size: 12px;
    font-family: $main-font;
    color: $font-red;
  }
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__list {
    list-style: none;
    position: relative;
 

    &:hover .hover_item {
      opacity: 1;
    }
  }

  &__promoinf {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 30px 18px;
    font-family: $main-font;
    color: $font-red;
    font-size: calculateRem(12px);
    font-weight: $medium;
  }
}

.collection {
  font-family: $main-font;
  font-size: calculateRem(14px);
  font-weight: $regular;
  color: $color-footer-copy;
  text-align: center;
  min-height: calculateRem(100px);
  max-width: calculateRem(381px);

  &__name {
    border-right: 1px solid $color-footer_text;
  }

  &__info {
    margin-bottom: 10px;
  }

  &__price {
    margin-top: 10px;
  }

  &__form {
    padding-left: 5px;
  }

  &__oldprice {
    text-decoration: line-through;
  }

  &__newprice {
    color: $font-red;
  }
}

.hover_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main-color-footer;
  min-height: calculateRem(52px);
  width: calculateRem(381px);
  position: absolute;
  top: 75%;
  opacity: 0;

  &__link {
    color: $color-footer_text;
    text-decoration: none;
  }

  &__button {
    border-color: transparent;
    background-color: $main-color-footer;
    cursor: pointer;
  }
}
