// @mixin font($ffamily, $fweight, $fsize) {
//   font-family: $ffamily;
//   font-weight: $fweight;
//   font-size: $fsize;
// }
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$main-font:'Roboto', sans-serif;
$logo-font:'Cormorant Unicase',serif;
$color-header-footer:#222222;
$main-color-footer:#efefef;
$bg-color:#ffffff;
$color-footer_text:#737373;
$color-footer-copy:#484848;
$font-color-footer-logo:#333333;
$font-color-footer-text:#a9a9a9;
$mian-fonts-color:#000000;
$fonts-color:#686868;
$font-red:#ea5d5b;


